body {
    background-color: #ABEBC6
  }
  
  h1 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

   div {
    border: thin dotted #880808;
  }
    
  h2 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
    }
  
  h3 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

  h4 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }
  
  h5 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

  h6 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

  html {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }