body {
    background-color: darkcyan
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
    font-size:3vw; font-family: Comic Sans MS;
  }

   div {
    border: thin dotted #880808;
  }
    h2 {
        font-size:2.5vw; font-family: Papyrus
    }
  
