body {
    min-height: 100vh;
    background-color: #ABEBC6;
    margin-bottom: 75px;
  }
  
  h1 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

   div {
    border: thin dotted #880808;
  }
    
  h2 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
    }
  
  h3 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

  h4 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }
  
  h5 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

  h6 {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

  html {
    color: rgb(63, 113, 179);
    font-family: Comic Sans MS;
  }

  footer {
    position:fixed;
    min-height:auto;
    width: 100%;
    background-color: rgb(21, 167, 118);
    left: 0;
    right: 0;
    bottom: 0;
    color: darkgreen;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }